:root {
  --black: black;
  --opaque-black: #0000008a;
  --purple: #9560FF;
  --opaque-purple: #9560ff7a;
  --pink: #FF51FF;
}

/* Flex Classes */

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* General Properties */

body {
  position: relative;
  margin: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  color: var(--purple);
  font-family: 'Exo 2', monospace;
  font-size: 24px;
  background-color: var(--black);
  line-height: 2em;
  text-align: center;
}

h2 {
  font-weight: 500;
}

/* JS Properites */

.show {
  /* display: none; */
  display: block;
}

.hide {
  display: none;
}

/* Header Properties */

header {
  width: 90%;
  margin: 10px 0;
  justify-content: flex-end;
  z-index: 1;
}

header a {
  text-decoration: none;
  color: inherit;
  margin: 0 10px;
  background-color: var(--opaque-black);
  line-height: 1em;
}

header a:hover {
  color: var(--pink);
}

/* Main Properties */

main:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0.5;
  background-image: url("https://raw.githubusercontent.com/Fiskoal/rotmg-tools/main/assets/images/cube-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

main {
  position: absolute;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: visible;
}
 .home-container {
   background-color: var(--opaque-black);
   border-radius: 10px;
   width: 800px;
 }
/* Footer Properties */

footer {
  position: absolute;
  bottom: 0;
  color: var(--opaque-purple);
  margin-bottom: 10px;
  background-color: var(--opaque-black);
  padding: 0 10px;
  border-radius: 10px;
}

footer div {
  align-items: center;
}

#copy-text {
  margin: 0 10px 0 0;
}

#copy {
  height: 1em;
  cursor: pointer;
  background-color: #9560ff7a;
  padding: 1px;
  border-radius: 2px;
}

#copy:hover {
  box-shadow: 0 0 10px var(--opaque-purple);
}

/* roll.html properties */

section {
  width: 33.333%;
  align-items: center;
}

section p {
  margin: 5px;
}

#class {
  padding-bottom: 250px;
}

#classes-button {
  position: absolute;
  font-family: inherit;
  cursor: pointer;
  border: none;
  color: white;
  background-color: var(--opaque-purple);
  padding: 10px;
  align-items: center;
  justify-content: center;
  width: 130px;
  box-shadow: 0 0 20px var(--opaque-purple);
}

#classes-button:hover,
#classes-button:focus {
  background-color: var(--purple);
  outline: none;
}


#down-arrow {
  height: 1.5em;
}

.dropdown {
  position: absolute;
  margin-top: 35px;
  width: 130px;
  font-size: 15px;
  text-align: center;
  color: var(--purple);
  background-color: var(--opaque-black);
  z-index: 1;
  line-height: 1em;
}

.dropdown option {
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0.3em;
  border-radius: 2px;
}

.dropdown option:hover {
  color: var(--pink);
  cursor: pointer;
  box-shadow: 0 0 20px var(--opaque-purple);
}

.dropdown:focus {
  border: none;
  outline: none;
}

#check-roll {
  font-family: inherit;
  background-color: var(--opaque-purple);
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 5px;
  box-shadow: 0 0 20px var(--opaque-purple);
}

#check-roll:hover {
  background-color: var(--purple);
  outline: none;
}

#check-roll:focus {
  outline:none;
}

.output {
  margin-top: 5px;
  text-align: start;
}

.container {
  background-color: var(--opaque-black);
  border-radius: 10px;
}

#input-roll input{
  font-family: 'Exo 2', monospace;
  background-color: transparent;
  color: var(--purple);
  height: 20px;
  margin: 5px 0;
  /* border: 1px solid var(--purple); */
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 10px var(--opaque-purple);
}

#input-roll input::placeholder {
  font-family: 'Exo 2', monospace;
  color: var(--opaque-purple);
}

#input-roll input {
  outline: none;
}
