/* Flex Classes */

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* General Properties */

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  color: white;
  font-family: monospace;
  font-size: 24px;
  background-color: darkslategray;
}

h2 {
  font-weight: 500;
}

/* JS Properites */

.show {
  /* display: none; */
  display: block;
}

.hide {
  display: none;
}

/* Header Properties */

header {
  width: 90%;
  margin-top: 10px;
  justify-content: flex-end;
}

header a {
  text-decoration: none;
  color: inherit;
  margin: 0 10px;
}

header a:hover {
  color: slategray;
}
header a::before,
header a::after {
  content: "|";
}

/* Main Properties */

main {
  width: 1000px;
  max-width: 100vw;
  justify-content: center;
  align-items: center;
}

/* Footer Properties */

footer {
  position: absolute;
  bottom: 0;
  color: slategray;
}

footer hr {
  border-style: none;
  height: 1px;
  background-color: slategray;
}

/* roll.html properties */

section {
  width: 33.333%;
}

section button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  color: white;
  background-color: slategray;
  padding: 10px;
  align-items: center;
  justify-content: center;
  width: 130px;
}

section button:hover,
section button:focus {
  background-color: lightsteelblue;
}

#class {
  position: relative;
}

#down-arrow {
  height: 1.5em;
}

.dropdown {
  width: 130px;
  font-size: 15px;
  text-align: center;
  color: black;
  background-color: lightgray;
  z-index: 1;
  /* display:none; */
}

.dropdown p {
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0.25em;
}

.dropdown p:hover {
  background-color: lightsteelblue;
  cursor: pointer;
}